body {
    box-sizing: border-box;
    background-color: #e3e3e3;
}

button:hover {
    cursor: pointer;
}

button {
    padding: 7px 12px;
    font-size: 28px;
    outline: none;
    border: 1px solid #999999;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.welcomeBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.game {
    width: 100vw;
    height: 100vh;
}

.gameHeader {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.gameButtons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.gameFields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 80vh;
}

.gameFieldsSelf {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
}

.gameFieldsSelfCell {
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3e3e3;
}

.field {
    margin: 100px auto 0 auto;
    display: flex;
    width: 700px;
    flex-wrap: wrap;
}

.fieldBlock {
    width: 70px;
    height: 70px;
    border: 1px solid #999999;
}

.ships {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shipsHeader {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}

.shipsBlocks {
    display: flex;
    column-gap: 25px;
}

.startButton {
    text-align: center;
}